<app-header></app-header>
<div class="allcomponent">
<div class="cards">
  <a class="card" (click)="ondashboard()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Chat
      </h2>

      <p class="card-chat-back card-back">
      </p>
    </div>
  </a>

  <a class="card">
    <div class="card-body">
      <h2 class="card-front text-center">
        Account
      </h2>

      <p class="card-back card-account-back">
      </p>
    </div>
  </a>

  <a class="card" (click)="friends()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Friends
      </h2>

      <p class="card-back card-friend-back">
        
      </p>
    </div>
  </a>

  <a class="card" (click)="onusers()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Users
      </h2>

      <p class="card-back card-users-back">
        
      </p>
    </div>
  </a>

  <a class="card">
    <div class="card-body">
      <h2 class="card-front text-center">
        Query
      </h2>

      <p class="card-back card-quesry-back">
      </p>
    </div>
  </a>

  <a class="card" (click)="onrequest()">
    <div class="card-body">
      <h2 class="card-front text-center">
        Requests
      </h2>

      <p class="card-back card-request-back">
      </p>
    </div>
  </a>
</div>
</div>