  .allcomponent{
    margin-top: 30px !important;
    width: 80%;
    margin: auto;
    height: 90%;
  }
  .card-back {
    top: 0; right: 0; bottom: 0; left: 0;
  }

  .cards {
  width: 111%;
  margin: auto;
  padding: auto;
}

.card {
  width: 30%;
  border: none;
  display: inline-block;
  padding: 20px;
}

.card-body {
  transform-style: preserve-3d;
  margin: 4%;
  background: linear-gradient(-135deg, #e7883b, #636266);
  border-radius: 10%;
  transition: 1s;
  height:250px; 
  
  .card:hover & {
    transform: rotateY(-180deg);
  }  
}

.card-front, .card-back {
  backface-visibility: hidden;
}

.card-front{
  margin-top:32%;
  transform: translateZ(30);
}

.card-back {
  position: absolute;
  transform: rotateY(-180deg); 
}

.card-chat-back{
  background-image: url(../../../assets/images/icons/4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.card-account-back{
  background-image: url(../../../assets/images/icons/9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.card-friend-back{
  background-image: url(../../../assets/images/icons/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.card-users-back{
  background-image: url(../../../assets/images/icons/10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.card-quesry-back{
  background-image: url(../../../assets/images/icons/11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.card-request-back{
  background-image: url(../../../assets/images/icons/12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}